/* Variable couleur */
:root{
	--couleur-jaune1: #FFF1CC;

	--couleur-vert0: #E0E4CC;
	--couleur-vert1: #BFD9C6;
	--couleur-vert2: #89A490;
	
	--couleur-marron3: #664625;

	--couleur-orange1: #FEDC8F;
	--couleur-orange2: #F38B5E;

	--bleu0: #D6EAF8;
	--bleu1: #69D2E7;
	--bleu2: #031634;
	--vert2: #033649;
	--vert1: #036564;
	--marron2: #CDB380;
	--marron1: #E8DDCB;
}
/* GLOBAL */
html {
	padding: 0;
	font-style: normal;
	text-align: center;
}

body {
	padding: 0;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	line-height: 1.2;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
}

h2{
	font-style: italic;
	font-size: 2em;
	font-weight: 600;
}

h3{
	font-size: 1.2em;
	font-weight: bold;
}

/* PARALLAX */
.keyart, .keyart_layer {
	height: 1000px;
	width: 100% !important;
}

#parallax {
	display: block;
}
#nonparallax {
	display: none;
}

#nonparallax {
	background-image: url('../images/keyart-mobile.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.keyart {

	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;

	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	margin: 0 !important;
	padding: 0 !important;
}
.keyart_layer.parallax {
	position: fixed;
}
	#keyart-0 {
		background-image: url('../img/dessin_home00.jpg')
	}

	#keyart-1{
		background-image: url('../img/mylogo.png');
		background-size: auto;
		background-position: top 150px center;
	}

	#keyart-1 .slogan{ /***************************************************** LOGO **********/
		/** background-image: url('..//img/mylogo.png');
		background-size: auto;
		background-position: top 100px center; **/
		font-family: 'Montserrat', sans-serif;
		font-size: 6em;
		color: rgba(255, 255, 255, 1);
		text-align: center;
		margin: 350px 0 0 0;
		line-height: 0.5;
		
		text-shadow: 0px 0px 15px rgba(150, 150, 150, 0.35);

		-webkit-transform: rotate(-7deg);
		   -moz-transform: rotate(-7deg);
		    -ms-transform: rotate(-7deg);
		     -o-transform: rotate(-7deg);
		        transform: rotate(-7deg);

	}
	#keyart-2 {
		background-image: url('../img/dessin_home01.png');
	}
	#keyart-3 {
		background-image: url('../img/dessin_home02.png');
	}
	#keyart-4 {
		background-image: url('../img/dessin_home03.png');
	}
	#keyart-5 {
		background-image: url('../img/dessin_home04.png');
	}
	#keyart-6 {
		background-image: url('../img/dessin_home05_1.png');
		width: 100% !important;
	}

	/**
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
   	#keyart-0 {
		background-image: url('../images/parallax/parallax0@2x.png');
		background-color: #ffaf1b;
	}
	#keyart-1 {
		background-image: url('../images/parallax/parallax1@2x.png');
	}
	#keyart-2 {
		background-image: url('../images/parallax/parallax2@2x.png');
	}
	#keyart-3 {
		background-image: url('../images/parallax/parallax3@2x.png');
	}
	#keyart-4 {
		background-image: url('../images/parallax/parallax4@2x.png');
	}
	#keyart-5 {
		background-image: url('../images/parallax/parallax5@2x.png');
	}
	#keyart-6 {
		background-image: url('../images/parallax/parallax6@2x.png');
	}
	#keyart-7 {
		background-image: url('../images/parallax/parallax7@2x.png');
	}
	#keyart-8 {
		background-image: url('../images/parallax/parallax8@2x.png');
	}
} */

/********************/
/********************/
/* ENABLES PARALLAX */
/********************/
/********************/
/*
@media (min-width: 601px) {

	#nonparallax {
		display: none;
	}
	#parallax {
		display: block;
	}

}

/*********************/
/*********************/
/* DISABLES PARALLAX */
/*********************/
/*********************/
/*
@media (max-width: 600px) {

	#nonparallax {
		display: block;
	}
	#parallax {
		display: none;
	}

	#main {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 70px;
	}

	.section.copyright p {
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 1px;
	}
	.section.companylinks .companies li h1 {
		margin: 20px;
	}
}*/

/*
@media only screen and (max-device-width: 450px) {
/* PARALLAX */

/*	.keyart, .keyart_layer {
		height: 550px;
	}

	.keyart_layer {
		position: absolute;
		background-size: auto 600px;
	}
} */

/********************************************* HEADER ***********************/
.myNav{
	padding: 0;
	width: 100%;
	position: fixed;
	z-index: 99999;
	background: rgba(255,255,255,0);
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid #fff;	
}

.myNav-item{
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
	border-left: 1px solid #fff;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	transition: 500ms ease-in-out;
}

.myNav-item-last{
	border-right: 1px solid #fff;
}

.myNav-item:hover{
	background: rgba(0,0,0,0.2);
}

.myNav-item-last:hover{
	background: rgba(0,0,0,0.2);
}

/* #05192d(5,25,45) #fbce85(251,207,133) #ffaf1b */
/******************************************** PAGE **************************/
#page{
 overflow: hidden;
}

.conteneur-general{
	background: #ffffff;
	position: relative;
	z-index: 98;
	width: 100%;
	overflow: hidden;
}

/* svg */
.con-angulaire{
	height: 600px;
}

.non-angulaire-g, .non-angulaire-d{
	background:  #05192d;
	padding: 0;
}

.con-angulaire2{
	height: 200px;
}

.non-angulaire-bg{
	background:  var(--couleur-jaune1);
	padding: 0;
	transform: rotate(-180deg)
}

.non-angulaire-bd{
	background:  var(--couleur-jaune1);
	padding: 0;
	transform: rotate(180deg)
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}
/***************************** Profil *****************/
.con-profil{
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	top: 220px;
	text-align: center;
}
.con-profil h1{
	color: #ffffff;
	margin: 0 0 100px 0;
}

.con-profil .profil-img{
	background: #ffffff;
	width: 310px;
	height: 310px;
	border-radius: 100%;
	margin: 0 auto;
}

.con-profil .profil-img .profil{
	background: url('../img/forPoly.png') 33px 24px no-repeat;
	background-size: auto;
	background-color: #05192d;
	height: 270px;
	width: 270px;
	border-radius: 100%;
	position: relative;
	top: 20px;
	left: 20px;

	-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.65);
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6);
}

.con-about{
	background:  var(--couleur-jaune1);
	text-align: center;
}

.con-about .bulle-triangle{
	color: #fcd48a;
	font-size: 4em;
	position: relative;
	top: 23px;
}

.con-about .bulle-dialogue{
	padding: 0 40px;
	margin: 50px 20px 100px 20px;
	border-radius: 10px;	
}

.con-about .bulle-dialogue .fa-quote-left{
	color: #ffffff;
	font-size: 2em;
	float: left;
}

.con-about .bulle-dialogue .fa-quote-right{
	color: #fff;
	font-size: 2em;
	float: right;
}
.con-about p.bulle-dialogue{
	line-height: 1.5;
	font-size: 1.1em;
}

/*********************** Front End **********************/
#con-frontend{
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
}

/** #con-frontend .row-transition{
	height: 50px;
	background: url(../img/dots.png) 0 0 repeat;
} **/

#con-frontend .row-h1{
	text-align: center;
	background: var(--couleur-marron3);
	padding: 50px 0 50px 0;
	color: var(--couleur-jaune1);
}

#con-frontend .row-h1 i{
	position: relative;
	top: 8px;
}

#con-frontend .row-h2{
	/*background: url(../img/dots.png) 0 0 repeat;*/
	background: var(--couleur-jaune1);
	padding: 30px 0;
}

#con-frontend .row-h2 i{
	font-size: 2.5em;
	margin: 0 10px;
}

#con-frontend .row-frontend{
	background: var(--bleu0);
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20%;
	padding-right: 20%;
	/*background-image: linear-gradient(180deg, rgba(210,210,210,0.8) , var(--bleu0) 10px);*/
}

#con-frontend .row-frontend h3{
	margin-top: 20px;
}

#con-frontend .row-frontend p{
	margin-top: 10px;
}

#con-frontend .front-icon{
	margin: 0 auto;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background: var(--bleu1);
	border: 4px solid #fff;
	box-shadow: 0px 1px 15px rgba(150, 150, 150, 0.3);
}

#con-frontend .front-icon i{
	font-size: 4em;
	position: relative;
	top: 22px;
	color: #fff;
	transition: 500ms ease-in-out;
}

#con-frontend .front-icon:hover i{
	color: #F8C471;
	text-shadow: 0px 4px 10px rgba(248, 196, 113, 0.6);
}

/***************** Front end gallerie **********************/
.row-gallerie{
	padding: 100px 5px 0 5px !important;
	margin: 0 !important;
	background: var(--couleur-jaune1);
}

.row-gallerie .fontend-gallerie .img-conteneur{
	padding: 0 5px;
	margin: 5px 0;
	overflow: hidden;
	height: 300px;
}

.row-gallerie .fontend-gallerie .img-conteneur .mask{
	width: 100%;
	background: black;
}

.row-gallerie .fontend-gallerie .img-conteneur img{
	width: 100%;
	transition: 500ms ease-in-out;
}

.row-gallerie .fontend-gallerie .img-conteneur h3{
	height: 80px;
	padding: 10px 0;
	width: 100%;
	transition: 500ms ease;
	background: black;
	color: var(--couleur-jaune1)
}

.row-gallerie .fontend-gallerie .img-conteneur:hover h3{
	transform: translateY(-80px);
}

.row-gallerie .fontend-gallerie .img-conteneur:hover img{
	transform: translateY(-80px);
	opacity: 0.5;
}

.skills-conteneur .row-skills{
	padding: 20px 0;
}

.skills-conteneur .row-skills i{
	font-size: 5em;
	color: rgba(190,190,190,1);
	text-shadow: 0px 1px 5px rgba(150, 150, 150, 0.8);
	transition: 250ms ease-in-out;
}

.skills-conteneur .row-skills i:hover{
	color: #F8C471;
	text-shadow: 0px 4px 10px rgba(248, 196, 113, 0.6);
}

.selector-for-some-widget {
  box-sizing: content-box;
}
/* white #F8F9F9 - white #F7F9F9 - gris1 #5D6D7E - gris2 #2E4053 - bleu1 #D6EAF8 - bleu2 #3498DB 
orange #F8C471 */